  <div  id="alignboardDiv" >
    <div id="newBoard">
        <div><h3>Create a new board to get started.</h3></div>
        <div id="addDiv" >+ Add New Board</div>
       
   </div>
</div>

<script>
   $("#addDiv").click(function(){
     $("#whole-container").load('/newBoard');
   })
</script>



