
<body>
<div id="deleteContent" >
   <div id="deleteLine" ><h3>Delete this board</h3></div>
   <div  id="board_Delete_content_line" ><p> Are you sure you want to delete the "<%=deleteboardname %>" board? This
action will remove all columns and task and cannot be reserved.</p>
</div>
   <div id="deleteButtonDiv" ><button id="deleteButton" >Delete</button><button id="deleteCancelButton" onclick="deleteCancel()" >Cancel</button></div>
</div>
</body>
<script>
  console.log("dfghj")
  function deleteCancel(){
    alert("dfghj")
  }
</script>