
<div id="taskConcepts">
    <div id="task_head">

     <h3> <%= taskTitle%></h3>
   
    </div>
    <div id="task_descrip">
       <p> <%= taskDescription%></p>
    </div>
    <div id="task_subtasks" >
        <%let subtaskString= taskSubtasks %>
     
    </div>
</div>