
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=El+Messiri:wght@600&family=Josefin+Sans:ital,wght@1,300&family=League+Spartan&family=Mukta&family=Nerko+One&family=Open+Sans:ital@1&family=Roboto+Condensed:wght@300;400&family=Roboto+Mono&family=Roboto:ital@1&family=Rubik&family=Solway:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
/* *
{
    font-family: 'League Spartan', sans-serif;
} */
body,html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

/* font-family: 'Tilt Neon', cursive; */
    font-family: 'Jost', sans-serif;
    /* font-family: 'Merriweather', serif; */
    /* font-family:"system-ui"; */
    /* font-family: 'Poppins', sans-serif; */
}
*{
    user-select: none;
}
*::-webkit-scrollbar {
    display: none;
}
#whole-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 8% 92%;
    grid-template-columns: 100%;
    background-color: #e4ebfa;
    position: relative;
    /* border: 1px solid #aba4ff; */

}
#WholeContainer{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 8% 92%;
    grid-template-columns: 100%;
    background-color: #20212c;
    position: relative;
    border: 1px solid #828fa3;
}
#header{
    display: grid;
    grid-template-columns: 14% 84%;
    grid-template-rows: 100%;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #aba4ff;
    column-gap: 1%;

}
#HeaderDark{
    display: grid;
    grid-template-columns: 14% 84%;
    grid-template-rows: 100%;
    background-color: #3e3f4e;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #828fa3;
    column-gap: 1%;

}
#MenuImg{
    width: 100%;
    height: 50%;
    padding-left: 3%;
} 
#logoimgDiv{
    display: flex;
    align-items: center;
    
}
#headDiv{
    width: 100%;
    height: 100%;
    border-left: 1px solid #aba4ff;
}
#headerDiv{
    width: 100%;
    height: 100%;
    border-left: 1px solid #828fa3;
}
#Main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100% ;
}
#mainDiv{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100% ;
}
#slidebar{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #aba4ff;
    background-color:white;
    border-right: 1px solid #aba4ff;
    border-top: 1px solid #aba4ff;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
}
#slidebarDark{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #828fa3;
    background-color:#3e3f4e;
    border-right: 1px solid #828fa3;
    border-top: 1px solid #828fa3;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
}
#mainContent{
    /* width: 100%; */
    height: 100%;
    height: 100%;
    overflow-x: scroll;

}
#newBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #828fa3;
    font-size: 1.5vh;
}
#addDiv{
    color: white;
    padding: 1vw 2vh;
    border-radius: 5vh;
    background-color: #635fc7;
    cursor: pointer;
}
#alignboardDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}
#theme{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    padding-top: 2vw;
    gap: 15%;
    border-top: 1px solid #aba4ff;
   
}
#selectTheme{
    width: 71%;
    /* padding: 7%; */
    background-color: #f4f7fd;
    border-radius: 7px;
    height: 24%;
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: space-around;
}
#darkTheme{
    width: 71%;
    /* padding: 7%; */
    background-color:#20212c;
    border-radius: 7px;
    height: 24%;
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: space-around;
}
#checkbox{
    position: relative;
    width: 25%;
    height: 66%;
    -webkit-appearance: none;
    background-color: #635fc7;
    transition: 0.5s;
    border-radius: 20px;
}
#checkbox:checked{
    background-color: #635fc7;
}   
#checkbox:before{
    content: "";
position: absolute;
width: 50%;
height: 100%;
border-radius: 20px;
background-color: #FFFFFF;
transform:scale(1.0);
transition: 0.5s;
}
#checkbox:checked::before{
    left: 50%;
}
.logo{
    width: 17%;
}
.hide{
    width: 22%;
}
#hideSidebar{
    width: 48%;
    height: 24%;
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: space-around;
    color: #828fa3;
    font-size: 1.5vh;
}
#board{
    width: 100%;
    height: 100%;
    display: flex;
     gap: 2%; 
    align-items:flex-start;
    /* justify-content: space-between; */
    flex-direction: column;
    color:#828fa3;
   font-size: 2vh;
   overflow-y: scroll;
}
#createBoard{
    color: #6966c9;
    font-weight: initial;
    width: 80%;
    font-size: 1.9vh;
    height: 5%;
    margin-top: 2vh;
    text-indent: 1vh;
}
#createBoard:hover{
 background-color: #828fa3;
 border-top-right-radius: 25px;
 border-bottom-right-radius: 25px;
 /* padding: 0.5vh; */
 padding-top: 0.7vh ;
 padding-right: 0.2vh ;

}
.boardname{
    width: 80%;
    height: 5%;
    text-align: left;
    text-indent: 1vh;
    cursor: pointer;
}
.boardname:hover{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #635fc7;
    /* padding: 0.6vh; */
    padding-top: 0.7vh ;
    padding-right: 0.2vh ;
    color: white;
}

a
{
    text-decoration: none;
}
#task_Div{
    display: grid;
    grid-template-rows: 100%;
    height: 100%;
    
}
.task{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 92%;
    font-size: 1.8vh;
    text-align: center;
}
.taskdiv{
    width: 70%;
    background-color: white;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    border-radius: 1.5vh;
    box-shadow: rgb(100 100 111 / 20%) 1vh 1vh 2vh 0vh;
    text-align: left;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vh;
  cursor: pointer;
}
.taskdiv:hover{
  box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
}
.scrollDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    gap: 3%;
    height: 100%;
    overflow-y: scroll;
   
}
.subtasksdetailstext:hover{
  background-color: #d8d7f1;
}
.createBoardImg{
    width: 1vw;
    height: 1.5vh;
}
.taskTitle{
    text-align: left;
}
.subtaskCount{
    color: #828fa3;
}
#addColumn{
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-rows: 8% 92%;

}
.addColumnDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eaf0fb;
    width: 80%;
    font-size: 2vh;
    box-shadow: rgba(17, 17, 26, 0.1) 0vh 0vh 4vh;
    border-radius: 2vh;
}
#circleDiv{
    width: 0.7vw;
    height: 1.3vh;
    background-color: #635fc7;
    border-radius: 5vh;
    vertical-align: baseline;

}
#task_name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    /* letter-spacing: 2vh; */
    text-transform: uppercase;
    text-indent: 1vw;
}
.showTasks{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    
}
#addTaskDiv{
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: 37% 26% 37%;
    grid-template-rows: 100%; */
     display: flex;
    align-items: center;
    justify-content: center; 

}
#taskConcepts{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 40% auto;
    grid-template-rows: 100%;

    position: absolute;
   
    /* height: 30%; */
    z-index: 2;
}
#taskdetailsaligndiv{
    grid-column-start: 2;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
#taskscontents{
  width: 66%;
  /* height: 65%; */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20%; */
  background-color: white;
  padding: 2vh 2vw;
  font-size: 1vw;
  border-radius: 2vh;
}
#task_head{
    width: 100%;
    display: grid;
    grid-template-columns: 100% 20%;
    grid-auto-rows: 100%;
    
}
#task_descrip{
    width: 100%;
    font-size: 1.4vh;
    color: #828fa3;
}
#headerBoardDiv{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 85% 10% 5%;
    grid-template-rows: 100%;
}
#headTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-indent: 2vh;
    font-size: 3vh;
}
.addNewTaskDiv{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#addTaskHeadDiv{
    color: white;
    padding: 0.8vw 1.5vh;
    border-radius: 5vh;
    background-color: #635fc7;
    font-size: 1.5vh;

}
#iconverticalImg{
    height: 2.5vh;
}
#deleteBoardDetails{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
#deleteContent{

    border-radius: 18px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: left;
    width: 25%;
    padding-left: 4vh;
    padding-right: 2vh;
    padding-bottom: 3.5vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
}
#deleteLine{
    font-size: 2vh;
    color: #f0483e;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 51%;
}
#board_Delete_content_line{
    font-size: 1.5vh;
    color: #828fa3;
}
#deleteButtonDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.8vh;
    padding-top: 2vh ;
}
#deleteButton{
    padding: 1.4vh 2.5vw;
    background-color: #f0483e;
    color: white;
    border-radius: 2.5vh;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#deleteCancelButton{
    padding: 1.4vh 2.5vw;
    background-color: #f0effa;
    color: #635fc7;
    border-radius: 2.5vh;
   border: none;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
#deleteCancelButton:hover{
    color: #f0effa; 
    background-color: #635fc7;
 

}
#deleteButton:hover{
    /* color: red;  */
    background-color: rgb(239, 141, 134);
}
#addDiv:hover{
    background-color: #a8a4ff;
    color: white;
}
#createNewBoardContent{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    flex-wrap: wrap;

}
#newBoardContent{
    width: 84%;
    padding: 2vh 3vh;
    background-color:white;
    border-radius: 3vh;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    gap: 2vh;
}
#createNewItemBoard{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

}
#addNewBoardText{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.5vh;
    /* gap: 49%; */
    margin-top: -3vh;
    position: relative;
}
#newBoardName{
    height: 2.7vh;
    width: 19vw;
    /* text-indent: 1vh; */
    font-size: 1.4vh;
   
    
}
.pTagFont{
    font-size: 1.4vh;
}
#BoardNewColumn{
  text-align: center;
  padding: 1.3vh 2vw;
  background-color: #f0effa;
  font-size: 1.7vh;
   color: #635fc7;
   border-radius: 2vh;
   
}
#create_new_Board{
  text-align: center;
    padding: 1.3vh 2vw;
  background-color: #635FC7;
  font-size: 1.7vh;
  color: white;
   border-radius: 2vh;
   border: none;
}
#BoardNewColumn:hover{
  background-color: #a8a4ff;
  color: #f0effa;


}
#create_new_Board:hover{
  background-color:#a8a4ff;
  color: white;
}

.BoardTaskName{
    display: grid;
    grid-template-columns: 80% 10%;
    grid-template-rows: 100%;
    gap: 3vh;
    
}
ul{
   list-style-type: none;
}
li{
    padding-bottom: 2vh;
}
.columnTask{
    
}
.newColumnName{
    width: 15vw;
    height: 2.6vh;

}
.crossImg{
    padding-top: 0.7vh;
    width: 1.1vw;
    height: 1.6vh;
    padding-left: 1vh;
}

#newColumnScrollDiv{

    overflow-x: scroll;
}
#newtaskdivbackground{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
#newTaskContentDiv{
    position:   absolute;
    display: grid;
    grid-template-columns: 15% 50% 25%;
    grid-template-rows: 100%;
    z-index: 1;
    width: 100%;
    height: 100%;
}
#newtaskelementDiv{
    border-radius: 20px;
    padding: 2vh 2vw;
    width: 48%;
    height: 63%;
    background-color: white;
    overflow-y: scroll;
}
#taskAligndiv{
    grid-column-start: 2;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
#newtaskaddstyle{
  margin-top: -1vh;
    font-size: 2vw;
    color: #635FC7;
}
.newtaskfontsize{
    font-size: 2vh;

}
#newtaskinputtitle{
    width: 23vw;
    height: 3vh;
    font-size: 1.7vh;
}
#newtaskinputtitle:hover{
    border-color: #635fc7;

}
#newtaskdescriptioninput{
    width: 23vw;
    height: 7vh;
    font-size: 1.6vh;
}
#newtaskdescriptioninput:hover{
    border-color: #635fc7;
  }
  #addTaskHeadDiv:hover{
    background-color: #a8a4ff;
  }
  #newaddsubtasks{
    padding: 1.4vh 2.8vw;
    background-color:#f0effa;
    border-radius: 50px 50px;
    text-align: center;
    font-size: 2vh;
    color: #635FC7;
  }
  #newaddsubtasks:hover{
    color: #f0effa;
    background-color:#a8a4ff;
    
  }
  #createTaskButton{
    padding: 1.2vh 9vw;
    background-color:#635FC7;
    border-radius: 50px 50px;
    text-align: center;
    font-size: 2vh;
    color: white;
  }
 #tasktitlenameselect{
    padding: 1.2vh 10.1vw;
    border-radius: 5px 5px;
    /* border-color: rgb(237, 235, 235); */
    stroke-opacity: 0;
    font-size: 2vh;
    background-color: white;
 }
 #createTaskButton:hover{
    background-color: #a8a4ff;
  }
  .subtasknamelistinputtag{
    width: 16vw;
    height: 2.6vh;
  }
  .BoardSubtaskName{
    display: grid;
    grid-template-columns: 80% 10%;
    grid-template-rows: 100%;
    gap: 3vh;
    
  }
  .crossImg:hover{
    color: red;
  }
  #newColumndivbackground{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
  }
  #newcolumncreatediv{
    width: 100%;
    display: grid;
    grid-template-columns: 31% 40% auto;
    grid-template-rows: 100%;
    position: absolute;
    z-index: 2;
    height: 100%;
  }
  #columnstylediv{
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #addnewcolumndetailsdiv{
    width: 59%;
    height: 53%;
    overflow-y: scroll;
    padding: 1.5vh 3.5vh;
    display: flex;
    border-radius: 2vh;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    gap: 5%;
    background-color: white;
  }
  #addnewtaskcrossimgdiv{

    width: 103%;
    display: grid;
    grid-template-columns: 80% 5% 5.5% 5%;
    grid-template-rows: 100%;
    grid-column-gap: 2%;

  }
  #newtaskaddcrossimg{
    width: 2vh;
    height: 2vh;
    grid-column-start: 4;
  }
  #subtaskdivdetails{
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    gap: 10%;
    font-size: 2vh;
  }
  .subtaskcolor{
    color: #828fa3;
    font-size: 1vw;
  }
  .subtasksdetailstext{
    padding: 1.3vh 1vh;
    background-color: #f4f7fd;
    border-radius: 10px;
  }
  .subtaskcheckbox{
    width: 1.5vh;
    height: 1.5vh;
  }
  .subtaskstatusstyle{
    padding: 1.3vh 1vh;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 1.6vh;
  }
  #newcolumnnamesdiv{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 20%;
  }
  .columnstyleinput{
    height: 37px;
    font-size: 1.7vh;
    width: 78%;
    text-indent: 3%;
    color: #29313c;
  }
  .createcolumnstyle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }
  #addnewcolumncreatediv{
    text-align: center;
    width: 84%;
    /* height: 72%; */
    font-size: 1.6vh;
    background-color: #f0effa;
    color: #635FC7;
    padding: 1.8vh 2vh;
    border-radius: 31px;
  }
  .createcolumndivalignstyle{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #addnewcolumncreatesavechangesdiv{
    text-align: center;
    width: 92%;
    /* height: 72%; */
    font-size: 1.6vh;
    background-color: #635FC7;
    color: white;
    padding: 1.7vh 2.3vh;
    border: none;
    border-radius: 31px;
  }
  .crossImgColumn{
    width: 2vh;
    height: 2vh;
  }
  .subinputclass{
    width: 78%;
    padding: 3%;
    font-size: 1.5vh;
  }
  .subtaskcross{
    width: 2vh;
    /* padding-top: 1.5vh; */
    padding-left: 1vh;
  }
  #alignboardcolumnDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #newColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #828fa3;
    font-size: 1.5vh;
  }
  #addColumnDiv{
    color: white;
    padding: 1vw 2vh;
    border-radius: 5vh;
    background-color: #635fc7;
  }
  .addColumnDiv:hover{
    /* padding: 1.5vw 2.5vh; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  }
  input[type=text]{
    border-radius: 0.5vh;

  }
  input[type=text]:hover{
    box-shadow: rgb(168,164,255) 0px 1px 4px, rgb(168,164,255) 0px 0px 0px 3px;
    border: none;
  }
  #boardcrossimgdiv{
    display: flex;
    align-items: right;
    justify-content: right;

  }
  #boardcrossimg{
    position: absolute;
   margin-right: -1vh;
   width: 1.5vh;
   height: 1.5vh;
  }
  #editboardcontent{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: left;
    /* gap: 30%; */
  }
  #crossimgstyleboard{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 2%;
  }
  #crossimgboard{
    width: 2vh;
    margin-right: -1vh;
  }
  #editboardstyle{
    width: 90%;
    font-size: 2vh;
    margin-top: -2vh;
  }
  #editboardnameinput{
    height: 37px;
    font-size: 1.8vh;
    width: 87%;
    text-indent: 10px;
    margin-left: 2vh;
    color: #29313c;
  }
  #newboardnamesdiv{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 20%;
  }
  #edittaskfont{
    font-size: 2.3vh;
    color: #635fc7;
  }
  #edittaskfont:hover{
    font-size: 2.8vh;
    color: #f0483e;
  }
  #edittaskaligndiv{
    /* width: 100%; */
    width: 63%;
    height: 63%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: white;
    padding: 2vh 2vw;
    font-size: 1vw;
    border-radius: 3vh;
  }
  #edittaskdiv{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
  }
  /* .taskdiv:hover{
     padding: 1.5vh 3vh;
     box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  } */
  #edittaskdivcrossimg{
    display: flex;
    justify-content: right;
    align-items: right;
    padding-top: -2vh;
  }
  #edittaskdescription{
    width: 23vw;
    height: 14vh;
    font-size: 1.6vh;
  }
  #edittaskcrossimg{
    width: 2vh;
    height: 2vh;
  }
  #editasktitlediv{
    display: grid;
    grid-template-columns: 85% 20%;
    grid-template-rows: 100%;
    height: 5%;
    color: #635FC7;
  }
  .edittaskstyle{
    font-size: 2vh;
    color: #828fa3;
  }
  #edittasktitlename{
    width: 90%;
    height: 40px;
    font-size: 2vh;
    text-indent: 2%;
  }
  .edittasklisttype{
    list-style-type: none;

  }
  .listtagstyle{
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 100%;
    align-items: center;
  }
  .editsubtaskinput{
    width: 90%;
    height: 40px;
    font-size: 1.5vh;
    text-indent: 2%;
  }
  #editaddsubtasks{
    width: 90%;
    /* height: 8%; */
    background: #f0effa;
    text-align: center;
    border-radius: 4vh;
    color: #635FC7;
    font-size: 2vh;
    padding: 1.3vh;
  }
  #editsavechanges{
    width: 92%;
    /* height: 8%; */
    background: #635FC7;
    text-align: center;
    border-radius: 4vh;
    color: white;
    font-size: 2vh;
    padding: 1.3vh;
  }
  #editselecttag{
    width: 96%;
    border-radius: 0.5vh;
    height: 6%;
    font-size: 2vh;
  }
  #deleteiconstyle{
    color: #635FC7;
    /* padding: 0.5vh 0.5vh;
     */
   font-size: 2.2vh;
    }
  #deleteiconstyle:hover{
    font-size: 2.8vh;
    color: #f0483e;
  }
  #deletetask{
    position: absolute;
    z-index: 3;
  }
  #crossimggrid{
    margin-top: -1.2vh;
    grid-column-start: 4;
  }
  /* #crossimggrid:hover{
    background-color: #828fa3;
    border-radius: 50%;
  } */
  .myClass{
    text-decoration: line-through;
    color: #828fa3;
  }
  #menu{
    width: 10%;
    position: absolute;
    margin-top: 8%;
    margin-right: 9%;
    border-radius: 2vh;
    height: 10%;
    /* border: 1px solid #635fc7; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  }
  .menu{
    background: white;

  }
  .Menu{
    background-color: #20212c;
  }
  #editboardselect{
    width: 100%;
    height: 100%;
    text-indent: 18%;
    font-size: 1.5vh;
    color: #828fa3;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    /* text-align: center; */
  }
  .BoardSelect:hover{
    background-color: #d6d6de;


  }
  #deleteboardselect{
    width: 100%;
    height: 100%;
    text-indent: 18%;
    font-size: 1.5vh;
    color: #f0483e;
    /* text-align: center; */
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    /* background-color: rebeccapurple; */
  }
  .boardselect:hover{
    background-color: #2b2c37;
  }
.editstyleclass{
  font-size: 1.5vh;
}
#showslidebar{
  width: 4%;
  height: 5%;
  /* margin-left: 1%; */
  margin-top: 44%;
  background-color: #635FC7;
  position: absolute;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
}
.showimg{
    width: 2.8vh;
    height: 2vh;
}
#edittaskstyletitle{
  margin-top: -2.5vh;
}